<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
        <div id="fancyBox" class="flex items-center justify-center">
            <div class="bg-white p-8 rounded-lg"> 
                <div class="flex justify-center mt-14 dark:text-neutral-900 ">
                    <div class="flex justify-center max-w-sm rounded-lg bg-white  p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                        <form action="/employee/ticket/update/{{tick.id}}" method="post">
                          <!--Title--><div class="relative mb-6 text-2xl font-bold text-gray-900 dark:text-white" data-te-input-wrapper-init>
                            <p>{{tick.title}}</p>
                        </div>

                          <div class="relative mb-6 " data-te-input-wrapper-init>
                            <p>{{tick.object}}</p>
                            <div class="mt-4 text-center">
                            <input name="status"  class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="submit" value="accepted">
                            <input name="status" class="text-white bg-rd-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" type="submit" value="refused">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
</body>
</html>