<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>  
    <title>dashboard</title>
</head>
<body>
        <!-- ========================navbar============================= -->
    
<nav  style="margin-bottom: 60px;"  class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">workforcepro</span>
    </a>
    <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
        <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
        <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
        </li>
        <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>

        <li>
            <a href="/logout_employee" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign out</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
</button>
<button style="margin-left: 10%; margin-bottom: 30px;" class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Employe 1 dashboard
    </span>
</button>
    <!-- ==========================status div=========================== -->
<div style="display: flex; justify-content: space-around;width: 83%;">
    <!-- ===============================left div=========================== -->
    <div>
        <h1 style="margin-bottom: 20px;"><strong>Last 6 Months:</strong></h1>
        <img style="margin-bottom: 40px;  width: 400px; height: 300px;" src="salary.png" alt="sss pic">

    </div>
        <!-- ===============================right div=========================== -->
    <div>

        <h1> Holidays balance: {{employee.holidays}} day</h1>
        <h1 class="my-5">Missed days this Month: {{payslips[0].missed_days}} hour</h1>
        <h1 class="my-5">Overtime hours this Month: {{payslips[0].overtime}} hour</h1>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table  class="my-5 mx-20 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    title
                </th>
                <th scope="col" class="px-6 py-3">
                    status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    02/2023
                </th>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                </td>

            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    03/2023
                </th>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                </td>

            </tr>

        </tbody>
    </table>
</div>
    </div>
</div>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table style="width: 80%;" class="my-5 mx-20 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    month
                </th>
                <th scope="col" class="px-6 py-3">
                    payslip
                </th>
                <th scope="col" class="px-6 py-3">
                    salary
                </th>
            </tr>
        </thead>
        <tbody>
            {%for payslip in payslips%}
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{payslip.date}}
                </th>
                <td class="px-6 py-4">
                    <a href="/payslip/{{payslip.id}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">view</a>
                </td>
                <td class="px-6 py-4">
                    {{payslip.net}}
            </tr>
            {%endfor%}

        </tbody>
    </table>
    <div style="display: flex ; margin: auto; justify-content: space-between; width: 90%;" class=" flex space-x-4 space-x-reverse">
        <button  id="openButton" style="margin-left: 80%;" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Open tickets</button>

        <div id="fancyBox" class="fixed inset-0 flex items-center justify-center z-50 hidden">
            <div class="bg-white p-8 rounded-lg">
    
                <div class="flex justify-center mt-14 dark:text-neutral-200 ">
                    <div class="flex justify-center max-w-sm rounded-lg bg-white  p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                    <form action="/create_ticketsss" method="post">
                    <!--Title-->
                    <div class="relative mb-6" data-te-input-wrapper-init>
                        <input type="text" name="title" class="peer block min-h-[auto] w-full rounded border-0 mb-8 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 bg-white">
                        <label for="title" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:peer-focus:text-primary">Title</label>
                    </div>
                    <!--object-->
                    <div class="relative mb-6" data-te-input-wrapper-init>
                        <textarea
                          class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none  bg-white dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
                          id="object"
                          rows="3"
                          name="object"
                          placeholder="Object"></textarea>
                        <label
                          for="object"
                          class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none  dark:peer-focus:text-primary"
                          >Object
                        </label>
                      </div>
                     <!--status-->
                        <input type="hidden" name="status" value="Pending" >
    
                        <div class="mt-4 text-center">
                        <input type="submit" value="Send Ticket"></div>
                        </form>
                    </div>
                 </div>
                 <button id="closeButton"
                 class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                 Close
                 </button>
            </div>
    </div>

</div>
<script>
    const openButton = document.getElementById('openButton');
    const fancyBox = document.getElementById('fancyBox');
    const closeButton = document.getElementById('closeButton');
    openButton.addEventListener('click', () => {
        fancyBox.classList.remove('hidden');
    });
    closeButton.addEventListener('click', () => {
        fancyBox.classList.add('hidden');
    });
</script>
</body>
</html>

